* {
  font-family: 'roboto';
  /* border: 1px solid blue; */
}

.bg-container {
  min-height: 100vh;
  width: 100%;
  padding: 5%;

  /* background-color: #dee0e3; */
}
.upper-container {
  display: flex;
}
.container-1 {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: flex-start;
  padding: 2%;
}

.heading {
  font-size: 45px;
  color: #1e293b;
  width: 100%;
  text-align: center;
}
.above-input-para {
  color: #475569;
  font-size: 20px;
  margin: 0;
}
.main-image {
  width: 50%;
  /* margin: 25px; */
  padding: 3%;
  margin: 15px;
}
.name-input {
  width: 100%;
  border: 1px solid #cbd2d9;
  border-radius: 4px;
  margin: 15px 0px;
  padding: 10px;
  outline: none;
}
.comment-text {
  width: 100%;
  height: 130px !important;
  border: 1px solid #cbd2d9;
  border-radius: 4px;
  margin: 15px 0px;
  padding: 10px;
  outline: none;
}
.add-comment-btn {
  background-color: #0284c7;
  border-radius: 5px;
  padding: 10px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}
.separator-line {
  border: 1px solid #cbd2d9;
  margin: 0;
}
.comments-count-text {
  color: #334155;
  font-size: 18px;
  margin: 15px 35px;
}
.comments-counter {
  color: white;
  background-color: #0284c7;
  padding: 4px 8px;
  border: none;
  border-radius: 2px;
}
.list-container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  /* border: 1px solid blue; */
}

@media screen and (max-width: 767px) {
  .bg-container {
    display: none;
  }
  .upper-container {
    flex-direction: column;
    align-items: center;
  }
  .container-1 {
    order: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .above-input-para {
    width: 100%;
    /* border: 1px solid black; */
  }
  .add-comment-btn {
    margin-bottom: 15px;
  }
}
